

    
* {
    background: aqua;
}
img {
    width: 500px;
    height: 500px;
    float: left;
    padding-left: 7px;
    padding-right: 7px;
}
#heading {
    text-align: center;
    background-color: aqua;
    
}
ul {
    float: left;
}
h2 {
    text-align: center;
    background-color: whitesmoke;
}
